<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form" autocomplete="off">
                <span class="login100-form-title p-b-49">
                    Nuevo Jugador
                </span>

                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">name</span>
                    <input class="input100" type="text" [(ngModel)]="name" name="name" placeholder="Ingrese su name">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button (click)="create()" class="login100-form-btn">
                            Registrarse
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Muestra un mensaje de éxito -->
<div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
</div>