
<div class="limiter">
  <div class="container-login100" style="background-image: url('../../assets/images/footballBackground.jpeg');">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
          <form class="login100-form" autocomplete="off">
              <span class="login100-form-title p-b-49">
                 Nuevo Jugador
              </span>


              <div class="wrap-input100 m-b-23">
                  <span class="label-input100">Nombre</span>
                  <input class="input100"
                         type="nombre" 
                         name="nombre" 
                         placeholder="Ingrese su nombre">
                  <span class="focus-input100"></span>
              </div>

              <div class="wrap-input100">
                  <span class="label-input100">Apellido</span>
                  <input class="input100"
                         type="apellido"
                         name="apellido" 
                         
                         placeholder="Ingrese su apellido">
                  <span class="focus-input100"></span>
              </div>
              <div class="wrap-input100">
                  <span class="label-input100">Telefono</span>
                  <input class="input100"
                         type="telefono"
                         name="telefono" 
                         placeholder="Ingrese su telefono">
                  <span class="focus-input100"></span>
              </div>
              

              
              <div class="wrap-input100">
                  <span class="label-input100">Mail</span>
                  <input class="input100"
                         type="mail"
                         name="mail" 
                         placeholder="Ingrese su mail">
                  <span class="focus-input100"></span>
              </div>
             
              <div class="wrap-input100">
                  <span class="label-input100">Password</span>
                  <input class="input100"
                         type="password"
                         name="password" 
                         placeholder="Ingrese su password">
                  <span class="focus-input100"></span>
              </div>
              <div class="text-right p-t-8 p-b-31"></div>
              
              <div class="container-login100-form-btn">
                  <div class="wrap-login100-form-btn">
                      <div class="login100-form-bgbtn"></div>
                      <button (click)="create()" class="login100-form-btn">
                          Registrarse
                      </button>
                  </div>
              </div>

          </form>
      </div>
  </div>
</div>